<video id="{{ this.id }}__video" class="video-js video" preload="auto" autoplay="autoplay" onended="videojs_{{ this.id }}__video__onended()">
    <source src="{{ this.src }}" type='{{ this.type }}'>
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>